@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

/* 
*****
-- setting up different themes:
***** 
*/

.light1 {
    color: rgb(63, 63, 63);
}

body {
    height: fit-content;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* 
*****
-- defining repitative classes, fonts etc.
***** 
*/

.flex {
    display: flex;
}

.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

/* 
*****
-- Main CSS
***** 
*/

/* Main Container */
.main-container {
    
    
    height: fit-content;
    flex-direction: column;
    
}


/* Title Styling */
.main-title {

    line-height: 0.85;
    
    font-size: 100px;
    font-weight: 700;
    text-align: center;

    margin-block: 1rem;

    letter-spacing: -4px;

    position: relative;

    padding-block: 5rem;
}

.back-text {
    position: absolute;

    font-size: 200px;
    font-weight: 900;
    letter-spacing: -9px;
    
    line-height: 0.75;

    color: rgba(75, 74, 74, 0.068);
}

/*  ---- styling for hierarchy */
#mark1 {
    color: rgba(4, 0, 255, 0.664);
    padding-right: 600px;
    font-size: 80px;
}

#mark2 {
    color: rgba(4, 0, 255, 0.664);
    padding-left: 400px;
    font-size: 80px;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 25vw;

    border-radius: 15px;

    border: 2px solid rgba(75, 74, 74, 0.068);

    background:rgba(4, 0, 255, 0.664);

    color: white;
    font-size: 30px;
    font-style: italic;
}

.project-view {
    gap: 3rem;

    flex-direction: row;

    justify-content: center;

}

