body {
    background-color: rgb(73, 73, 73);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aqua;
}

.media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 3rem;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    padding: 0 3rem 3rem;
}

.media-scroller::-webkit-scrollbar {
    width: 50px;

}

.media-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.media-scroller::-webkit-scrollbar-thumb {
    background: #888;
}

.box {
    height: 300px;
    background-color: red;
    border: 1px solid white;
    scroll-snap-align: start;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;

}

.snaps-inline > * {
    scroll-snap-align: start;
}
