.about-page-title {
  gap: 1rem;

  display: grid;
  grid-template-columns: 1fr;

  align-items: center;
  flex-direction: column;
}

.about-page-title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 124.5%;
  margin-block: 1rem;
}

.about-page-title h1 {
  color: #5d00a7;
}

.about-page-title img {
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1/1;
}

@media (min-width: 900px) {
  .about-page-title {
    grid-template-columns: 1.5fr 1fr;
  }
}

/* Socials Start here */
.socials {
  flex-direction: column;
  gap: 1rem;
}

a.account-link {
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  padding: 6px 12px;
  background-color: #f2f4f8;
  color: #0366d6;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

a.account-link:hover {
  background-color: #8eb8ff;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
