.title-bg {
  background: none;
}

.title h1 {
  color: #5d00a7;
}

.title h2 {
  font-family: "Poppins";
  padding-top: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 124.5%;
  /* or 44px */

  letter-spacing: -0.035em;
}

/* First Section Starts Here */
.services-bg {
  padding-block: 2rem;
  background-image: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgb(255, 255, 255) 100%
    ),
    url("../media/services-background.jpg");
  background-size: cover;
  background-position: center;
}

.services-section {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-carousel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.service-item {
  flex-direction: column;
  gap: 1rem;

  background-color: rgba(255, 255, 255, 0.466);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  padding-inline: 1.5rem;
  padding-block: 2rem;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
}

.service-item h3 {
  font-size: 1.2rem;
}

.service-item img {
  width: 80px;
}

.service-item ul {
  font-size: 1rem;
  font-weight: 500;
  color: #545454;
  list-style-position: inside;
}

.service-description li {
  margin-block: 0.5rem;
}

.service-item a {
  background-color: #5d00a7;
  color: white;
  text-decoration: none;
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
  border: 1px solid #ffff;

  font-size: 0.8rem;
  font-weight: 500;

  /* margin-top: auto; */

  transition: all 100ms ease-in-out;
}

.service-item a:hover {
  background-color: white;
  color: #5d00a7;
  border: 1px solid #5d00a7;
}

p.price {
  font-family: "Inter", sans-serif;
  margin-top: auto;
  font-weight: 900;
}

@media (min-width: 900px) {
  .services-carousel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*  */
/* Impact Section */
/*  */
.business-impact h2 {
  text-align: center;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 132%;
  /* or 46px */

  letter-spacing: -0.045em;
}

.impacts-container {
  flex-direction: column;
  gap: 1rem;
  margin-block: 1.5rem;
  max-width: 700px;

  margin-inline: auto;
}

.impact-item {
  flex-direction: column;

  gap: 1rem;
  align-items: center;
}

.impact-text h3 {
}

.impact-item img {
  width: 5rem;
  height: 5rem;
}

.impact-text p {
  font-size: 1rem;
  margin-block: 0.5rem;
}

@media (min-width: 700px) {
  .impact-item {
    flex-direction: row;
  }
}

/*  */
/* 3 Steps Section */
/*  */

.steps-section-bg {
  background-image: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgb(255, 255, 255) 100%
    ),
    url("../media/steps-background.jpg");
}

.simple-steps-section {
  flex-direction: column;
  padding-block: 2rem;
  gap: 1rem;
}

.simple-steps-section h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.steps-carousel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  margin-top: 1.5rem;
}

.steps-item {
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  gap: 1rem;
  padding-top: 3rem;

  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.521);
}

.steps-item::after {
  position: absolute;
  content: "1.";
  top: -15px;
  background-color: #5d00a7;
  padding: 10px;
  padding-inline: 1rem;
  font-size: 0.9rem;
  color: white;
  font-weight: 800;
  border-radius: 10rem;
}

.step-two::after {
  content: "2.";
}

.step-three::after {
  content: "3.";
}

.steps-item p {
  font-size: 0.9rem;
}

@media (min-width: 800px) {
  .steps-carousel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
